<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title" style="font-family: Consola, Monaco, monospace;">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/" style="font-family: Consola, Monaco, monospace;">Posts</a></li>
      <li><a href="{{ '/tags' | prepend: site.baseurl }}" style="font-family: Consola, Monaco, monospace;">Tags</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}" style="font-family: Consola, Monaco, monospace;">About</a></li>
      <li><a href="{{ '/news' | prepend: site.baseurl }}" style="font-family: Consola, Monaco, monospace;">News</a></li>
      <!-- <li><a href="{{ '/footprints' | prepend: site.baseurl }}">Footprints</a></li> -->
      <!-- <li><a href="{{ '/muisc' | prepend: site.baseurl }}">Music</a></li> -->
      <li><a href="{{ '/assets/file/CV.pdf' | relative_url }}" style="font-family: Consola, Monaco, monospace;">CV</a></li>
    </ul>
  </div>
</nav>